


/*HEADER */
/*1 - main container*/
.Header-Container-lvl1-title {
    /*BACKGROUND*/
    /*Color/sizing/style-Bg*/
    background-color: #7de2d1;
    border: 1px solid #2b2c28;
    width: 100%;
    height: 10vh;
    /*alignment-Bg*/
    padding: 0px;
    margin-top: 0%;
    /*FONT*/
    /*Color/sizing-Ft*/
    font: #2b2c28;
    /*alignment-Ft*/
   
}

/*2 header - title - Flex conatiner*/
/*header class*/
header.flex-container-lvl2-title {
    display: flex;
    align-items: center;
    justify-content: center;
    /*Color/sizing-Bg (align flex box with partner container and set to size of parent*/
    width: 100%;
    height: 100%;
    border: 1px solid #2b2c28;
}


/*3 header - title - font conatiner*/
#Header-font-container-lvl3 {
    flex-shrink: 1;
    font-size: 5vw;
    white-space: nowrap;
    border: 1px solid #2b2c28;
}

/*HEADER - Navigation bar*/

/*2 header - navigation bar - Flex conatiner*/
/*header class*/
header.flex-container-lvl2-navigation {
    display: block-inline;
    align-items: center;
    justify-content: center;
    /*Color/sizing-Bg (align flex box with partner container and set to size of parent*/
    width: 100%;
    height: 50%;
    border: 1px solid red;
    font-size: 100%;
}

/*3 header - navigation - list*/
/*<nav> - links to other parts of page*/
/*<Ul class - list of elements*/
.Header-navigationlist-lvl3 {
    border: 1px solid green;
    color: #2b2c28; /*color of link text*/
    /*Color/sizing-Bg (align flex box with partner container and set to size of parent*/
}

/*4 header - navigation - list - list items (each item element within list)*/
    .Header-navigationlist-lvl3 li {
        list-style: none; /*takes away bullet points*/
        display: inline; /*changes layout from vertical to horizontal*/
        margin-right: 7%; /*adds space between items in list*/
        margin-inline-start: 5%;
        white-space: nowrap;
    }

/*5 header - navigation - list - list items - a*/
.Header-navigationlist-lvl3 li a{
    text-decoration: none; /*removes underliner from link*/
    color: inherit; /*take color from parent "li"*/
}








p {
    color: red;
}

body {
    background-color: #fffafb;
}